<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets>
    <target layout="${level:padding=-5} ${date:format=yyyy-MM-ddTHH\:mm\:ss.fffzzz} [${threadid:padding=5}] [${pad:padding=8:${aspnet-user-claim:ClaimTypes.NameIdentifier}}] ${message}${exception}" xsi:type="ColoredConsole" name="console">
      <highlight-row condition="level == LogLevel.Trace" foregroundColor="White" />
      <highlight-row condition="level == LogLevel.Debug" foregroundColor="White" />
      <highlight-row condition="level == LogLevel.Info" foregroundColor="Green" />
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
      <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
    </target>
    <target layout="${level:padding=-5} ${date:format=yyyy-MM-ddTHH\:mm\:ss.fffzzz} [${threadid:padding=5}] [${pad:padding=8:${aspnet-user-claim:ClaimTypes.NameIdentifier}}] ${message}${exception}" xsi:type="File" encoding="UTF-8" archiveAboveSize ="100000000" maxArchiveFiles="-1" name="file"      fileName="../logs/${date:format=yyyyMMdd}.log"  />
    <target layout="${level:padding=-5} ${date:format=yyyy-MM-ddTHH\:mm\:ss.fffzzz} [${threadid:padding=5}] [${pad:padding=8:${aspnet-user-claim:ClaimTypes.NameIdentifier}}] ${message}${exception}" xsi:type="File" encoding="UTF-8" archiveAboveSize ="100000000" maxArchiveFiles="-1" name="fileError" fileName="../logs/error${date:format=yyyyMMdd}.log" />
    <target layout="${level:padding=-5} ${date:format=yyyy-MM-ddTHH\:mm\:ss.fffzzz} [${threadid:padding=5}] [${pad:padding=8:${aspnet-user-claim:ClaimTypes.NameIdentifier}}] ${message}${exception}" xsi:type="File" encoding="UTF-8" archiveAboveSize ="100000000" maxArchiveFiles="-1" name="fileTrace" fileName="../logs/trace${date:format=yyyyMMdd}.log" />
  </targets>

  <rules>
    <!-- discard logs -->
    <logger name="Microsoft.AspNetCore*"       maxlevel="Info"  final="true" />
    <logger name="Microsoft.Hosting.Lifetime*" maxlevel="Debug" final="true" />
    <!-- write other logs -->
    <logger name="*"                           minlevel="Info"  writeTo="console" />
    <logger name="*"                           minlevel="Info"  writeTo="file" />
    <logger name="*"                           minlevel="Error" writeTo="fileError" />
    <logger name="*"                           minlevel="Trace" writeTo="fileTrace" />
  </rules>
</nlog>